// DEPENDENCIES IMPORT
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// VARIABLES DECLARE
$vintedMainColor: #37AEB7;

// COMMON RULES
#root {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

// TYPOGRAPHY
h1 {
  font-size: 34px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  margin-top: 30px;
}

h4 {
  font-weight: 700;
}

// IMAGERY
.avatar-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// LOADER
.loader {
  text-align: center;
  margin-top: 40vh;
  font-size: 34px;
}

// CONTAINER
.container {
  max-width: 1280px;
  margin: 0 auto;
}

// CTAS
.cta {
    cursor: pointer;
    border: 2px solid $vintedMainColor;
    border-radius: 4px;
    padding: 10px 10px;
    width: fit-content;
    min-width: 146px;
    text-align: center;
    font-size: 16px;
}

.primary {
    background-color: $vintedMainColor;
    color: white;
}

.secondary {
    background-color: white;
    color: $vintedMainColor;
}

// NAVBAR

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .logoContainer {
        height: 80px;
        .mobileMenu {
            display: none;
        }
    }
    .allFilter {
        width: 45%;
        .firstLineFilter {
            display: flex;
            align-items: center;
            width: 100%;
            color: #BBBBBB;
            .icon {
                padding: 10px 10px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 20px;
                background-color: #F5F6F7;
            }
            input {
                padding: 10px 10px;
                width: 100%;
                border: none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: #F5F6F7;
                font-size: 17px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: lightgrey;
                }
            }
        }
        .secondLIneFilter {
            display:flex;
            justify-content: space-between;
            margin: 10px 0;
            .sortContainer, .priceFilter {
                display: flex;
                .radio {
                    display: flex;
                    align-items: center;
                }
                label, input {
                    font-size: 12px;
                    margin: 0 2.5px;
                    border: none;
                }
                input[type="number"] {
                    width: 60px;
                    background-color: #F5F6F7;
                    padding: 2px;
                &:focus {
                    outline: none;
                }
                }
            }
        }
    }
    nav {
        a {
            text-decoration: none;
        }
        span {
            margin: 5px 5px;
        }
    }
}

@media (max-width: 1024px) {
    .hidden {
        overflow: hidden;
        height: 45px;
    }
    .navbar {
        flex-direction: column;
        margin: 5px 20px 10px 20px;
        .logoContainer {
            height: 45px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                height: 60px;
            }
        }
        .logoContainer .mobileMenu {
            cursor: pointer;
            display: inline;
            color: #37AEB7;
            font-size: 34px;
        }
        .allFilter {
            width: 100%;
            margin-top: 10px;
            .secondLIneFilter {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                .sortContainer, .priceFilter {
                    margin: 5px 0
                }
            }
        }
        nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            a {
                display: inherit;
            }
        }
    }
}

@media (max-width: 600px) {
    .navbar {
        nav {
            flex-direction: column;
            align-items: stretch;
            a, span {
                width: 100%;
            }
        }
    }
}

// HERO HOME

.hero-wrapper {
    height: 370px;
    background: url(./assets/images/hreader-background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
    .hero-block {
        background-color: white;
        padding: 32px;
        width: 300px;
        height: 150px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .hero-wrapper {
        justify-content: center;
        padding: 0;
    }
}

// CATEGORIES HOME

.categories {
    h3 {
        margin-left: 9px;
    }
    .category-blocks {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .product-tile {
            margin: 25px 9px;
            .product-pic {
                height: 326px;
                width: 194px;
                cursor: pointer;
            }
            .owner {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
            }
            .product-information {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
}

// OFFER

.offer-container {
    background-color: #EAEDEE;
    padding: 20px;
    display: flex;
    justify-content: center;
    .offer-picture {
        width: 400px;
    }
    .offer-information {
        width: 350px;
        background-color: white;
        padding: 50px 25px;
        .offer-top-information {
            padding-bottom: 40px;
            border-bottom: 1px solid #BBBBBB;
            > p {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .offer-details {
                font-size: 14px;
                margin-bottom: 5px;
                span:first-child {
                    color: #BBBBBB;
                    margin-right: 5px;
                }
            }
        }
        .offer-bottom-information {
            padding-top: 40px;
            h4, p {
                margin-bottom: 20px;
            }
            .owner {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 600px) {
    .offer-container {
        flex-direction: column;
        align-items: center;
        .offer-information .cta {
            width: auto;
        }
    }
}

// FORMS

.form-container {
    max-width: 300px;
    margin: 50px auto;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input:not([type="checkbox"]):not([type="submit"]) {
            width: 100%;
            height: 35px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fcced3;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: lightgrey;
            }
        }
        div {
            align-self: flex-start;
            input {
                margin-right: 10px;
            }
        }
        p {
            font-size: 12px;
            line-height: 16px;
            color: grey;
            margin-top: 20px;
        }
        input[type="submit"] {
            margin-top: 40px;
            width: 100%;
        }
        .error {
            color: red;
        }
    }
}

// PUBLISH
.publish-background {
    background-color: #EAEDEE;
    padding: 50px;
    .publish {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 24px;
            margin: 20px 0;
            background-color: white;
            box-shadow: 0 0 2px grey;
            border: 1px solid #ebedee;
            input {
                width: calc(50% - 24px);
                font-size: 16px;
                border: none;
                height: fit-content;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #C4C7C9;
                }
            }
            input[type="text"], input[type="number"] {
                border-bottom: 1px solid #ebedee;
            }
            label {
                width: calc(50% - 24px);
            }
            .error {
                color: red;
                font-size: 12px;
                line-height: 16px;
                margin-top: 20px;
            }
        }
    }
}

