// DEPENDENCIES IMPORT
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// VARIABLES DECLARE
$vintedMainColor: #37AEB7;

// COMMON RULES
#root {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

// TYPOGRAPHY
h1 {
  font-size: 34px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  margin-top: 30px;
}

h4 {
  font-weight: 700;
}

// IMAGERY
.avatar-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// LOADER
.loader {
  text-align: center;
  margin-top: 40vh;
  font-size: 34px;
}

// CONTAINER
.container {
  max-width: 1280px;
  min-width: 1024px;
  margin: 0 auto;
}

// CTAS
.cta {
    cursor: pointer;
    border: 2px solid $vintedMainColor;
    border-radius: 4px;
    padding: 10px 10px;
    width: fit-content;
    min-width: 146px;
    text-align: center;
    font-size: 16px;
}

.primary {
    background-color: $vintedMainColor;
    color: white;
}

.secondary {
    background-color: white;
    color: $vintedMainColor;
}

// NAVBAR

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    .logoContainer {
        height: 50px;
    }
    .allFilter {
        width: 50%;
        .inputContainer {
            display: flex;
            align-items: center;
            width: 100%;
            color: #BBBBBB;
            .icon {
                padding: 10px 10px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 20px;
                background-color: #F5F6F7;
            }
            input {
                padding: 10px 10px;
                width: 100%;
                border: none;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: #F5F6F7;
                font-size: 17px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: lightgrey;
                }
            }
        }
    }
    nav a {
        text-decoration: none;
    }
    nav span:nth-child(1) {
        margin-right: 20px;
    }
}

// HERO HOME

.hero-wrapper {
    height: 370px;
    background: url(./assets/images/hreader-background.jpg) no-repeat center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .hero-block {
        background-color: white;
        padding: 32px;
        width: 300px;
        height: 150px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

// CATEGORIES HOME

.category-blocks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .product-tile {
        margin: 25px 9px;
        .product-pic {
            height: 326px;
            width: 194px;
            cursor: pointer;
        }
        .owner {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
        .product-information {
            text-align: center;
            margin-top: 5px;
        }
    }
}

// OFFER

.offer-container {
    background-color: #EAEDEE;
    padding: 20px;
    display: flex;
    justify-content: center;
    .offer-picture {
        width: 400px;
    }
    .offer-information {
        width: 350px;
        background-color: white;
        padding: 50px;
        .offer-top-information {
            padding-bottom: 40px;
            border-bottom: 1px solid #BBBBBB;
            > p {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .offer-details {
                font-size: 14px;
                margin-bottom: 5px;
                span:first-child {
                    color: #BBBBBB;
                    margin-right: 5px;
                }
            }
        }
        .offer-bottom-information {
            padding-top: 40px;
            h4, p {
                margin-bottom: 20px;
            }
            .owner {
                display: flex;
                align-items: center;
                margin-bottom: 50px;
            }
        }
    }
}

// FORMS

.form-container {
    max-width: 300px;
    margin: 50px auto;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input:not([type="checkbox"]):not([type="submit"]) {
            width: 100%;
            height: 35px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fcced3;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: lightgrey;
            }
        }
        div {
            align-self: flex-start;
            input {
                margin-right: 10px;
            }
        }
        p {
            font-size: 12px;
            line-height: 16px;
            color: grey;
            margin-top: 20px;
        }
        input[type="submit"] {
            margin-top: 40px;
            width: 100%;
        }
    }
}
