@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
#root {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 34px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  margin-top: 30px;
}

h4 {
  font-weight: 700;
}

.avatar-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.loader {
  text-align: center;
  margin-top: 40vh;
  font-size: 34px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.cta {
  cursor: pointer;
  border: 2px solid #37AEB7;
  border-radius: 4px;
  padding: 10px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 146px;
  text-align: center;
  font-size: 16px;
}

.primary {
  background-color: #37AEB7;
  color: white;
}

.secondary {
  background-color: white;
  color: #37AEB7;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.navbar .logoContainer {
  height: 80px;
}

.navbar .logoContainer .mobileMenu {
  display: none;
}

.navbar .allFilter {
  width: 45%;
}

.navbar .allFilter .firstLineFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #BBBBBB;
}

.navbar .allFilter .firstLineFilter .icon {
  padding: 10px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 20px;
  background-color: #F5F6F7;
}

.navbar .allFilter .firstLineFilter input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #F5F6F7;
  font-size: 17px;
}

.navbar .allFilter .firstLineFilter input:focus {
  outline: none;
}

.navbar .allFilter .firstLineFilter input::-webkit-input-placeholder {
  color: lightgrey;
}

.navbar .allFilter .firstLineFilter input:-ms-input-placeholder {
  color: lightgrey;
}

.navbar .allFilter .firstLineFilter input::-ms-input-placeholder {
  color: lightgrey;
}

.navbar .allFilter .firstLineFilter input::placeholder {
  color: lightgrey;
}

.navbar .allFilter .secondLIneFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.navbar .allFilter .secondLIneFilter .sortContainer, .navbar .allFilter .secondLIneFilter .priceFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .allFilter .secondLIneFilter .sortContainer .radio, .navbar .allFilter .secondLIneFilter .priceFilter .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .allFilter .secondLIneFilter .sortContainer label, .navbar .allFilter .secondLIneFilter .sortContainer input, .navbar .allFilter .secondLIneFilter .priceFilter label, .navbar .allFilter .secondLIneFilter .priceFilter input {
  font-size: 12px;
  margin: 0 2.5px;
  border: none;
}

.navbar .allFilter .secondLIneFilter .sortContainer input[type="number"], .navbar .allFilter .secondLIneFilter .priceFilter input[type="number"] {
  width: 60px;
  background-color: #F5F6F7;
  padding: 2px;
}

.navbar .allFilter .secondLIneFilter .sortContainer input[type="number"]:focus, .navbar .allFilter .secondLIneFilter .priceFilter input[type="number"]:focus {
  outline: none;
}

.navbar nav a {
  text-decoration: none;
}

.navbar nav span {
  margin: 5px 5px;
}

@media (max-width: 1024px) {
  .hidden {
    overflow: hidden;
    height: 45px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 20px 10px 20px;
  }
  .navbar .logoContainer {
    height: 45px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logoContainer img {
    height: 60px;
  }
  .navbar .logoContainer .mobileMenu {
    cursor: pointer;
    display: inline;
    color: #37AEB7;
    font-size: 34px;
  }
  .navbar .allFilter {
    width: 100%;
    margin-top: 10px;
  }
  .navbar .allFilter .secondLIneFilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .allFilter .secondLIneFilter .sortContainer, .navbar .allFilter .secondLIneFilter .priceFilter {
    margin: 5px 0;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .navbar nav a {
    display: inherit;
  }
}

@media (max-width: 600px) {
  .navbar nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navbar nav a, .navbar nav span {
    width: 100%;
  }
}

.hero-wrapper {
  height: 370px;
  background: url(./assets/images/hreader-background.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
}

.hero-wrapper .hero-block {
  background-color: white;
  padding: 32px;
  width: 300px;
  height: 150px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .hero-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.categories h3 {
  margin-left: 10px;
}

.categories .category-blocks {
  margin: 0 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(194px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(194px, 1fr));
}

.categories .category-blocks .product-tile {
  margin: 25px 0;
}

.categories .category-blocks .product-tile .product-pic {
  height: 326px;
  width: 194px;
  cursor: pointer;
}

.categories .category-blocks .product-tile .owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.categories .category-blocks .product-tile .product-information {
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .category-blocks {
    justify-items: center;
  }
}

.offer-container {
  background-color: #EAEDEE;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-container .offer-picture {
  max-width: 400px;
}

.offer-container .offer-information {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 350px;
  background-color: white;
  padding: 50px 25px;
}

.offer-container .offer-information .offer-top-information {
  padding-bottom: 40px;
  border-bottom: 1px solid #BBBBBB;
}

.offer-container .offer-information .offer-top-information > p {
  font-size: 20px;
  margin-bottom: 20px;
}

.offer-container .offer-information .offer-top-information .offer-details {
  font-size: 14px;
  margin-bottom: 5px;
}

.offer-container .offer-information .offer-top-information .offer-details span:first-child {
  color: #BBBBBB;
  margin-right: 5px;
}

.offer-container .offer-information .offer-bottom-information {
  padding-top: 40px;
}

.offer-container .offer-information .offer-bottom-information h4, .offer-container .offer-information .offer-bottom-information p {
  margin-bottom: 20px;
}

.offer-container .offer-information .offer-bottom-information .owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .offer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-container .offer-information .cta {
    width: auto;
  }
}

.form-container {
  max-width: 300px;
  margin: 50px auto;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container form input:not([type="checkbox"]):not([type="submit"]) {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
}

.form-container form input:not([type="checkbox"]):not([type="submit"]):focus {
  outline: none;
}

.form-container form input:not([type="checkbox"]):not([type="submit"])::-webkit-input-placeholder {
  color: lightgrey;
}

.form-container form input:not([type="checkbox"]):not([type="submit"]):-ms-input-placeholder {
  color: lightgrey;
}

.form-container form input:not([type="checkbox"]):not([type="submit"])::-ms-input-placeholder {
  color: lightgrey;
}

.form-container form input:not([type="checkbox"]):not([type="submit"])::placeholder {
  color: lightgrey;
}

.form-container form div {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form-container form div input {
  margin-right: 10px;
}

.form-container form p {
  font-size: 12px;
  line-height: 16px;
  color: grey;
  margin-top: 20px;
}

.form-container form input[type="submit"] {
  margin-top: 40px;
  width: 100%;
}

.form-container form .error {
  color: red;
}

.background {
  background-color: #EAEDEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.background .publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background .publish div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px;
  margin: 20px 0;
  background-color: white;
  -webkit-box-shadow: 0 0 2px grey;
          box-shadow: 0 0 2px grey;
  border: 1px solid #ebedee;
}

.background .publish div input {
  width: calc(50% - 24px);
  font-size: 16px;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.background .publish div input:not(:last-child) {
  margin-bottom: 20px;
}

.background .publish div input:focus {
  outline: none;
}

.background .publish div input::-webkit-input-placeholder {
  color: #C4C7C9;
}

.background .publish div input:-ms-input-placeholder {
  color: #C4C7C9;
}

.background .publish div input::-ms-input-placeholder {
  color: #C4C7C9;
}

.background .publish div input::placeholder {
  color: #C4C7C9;
}

.background .publish div input[type="text"], .background .publish div input[type="number"] {
  border-bottom: 1px solid #ebedee;
}

.background .publish div label {
  width: calc(50% - 24px);
}

.background .publish div .error {
  color: red;
  font-size: 12px;
  line-height: 16px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .background {
    padding: 50px 0;
  }
  .background h1 {
    text-align: center;
  }
  .background div input {
    min-width: 65%;
  }
  .background div label {
    max-width: 25%;
  }
}

.background .paymentBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  background-color: white;
}

.background .paymentBlock .topPayment {
  width: calc(100% - 40px);
  padding: 20px;
  border-bottom: 1px solid #BBBBBB;
}

.background .paymentBlock .topPayment p {
  margin-bottom: 20px;
  font-size: 12px;
  color: #BBBBBB;
}

.background .paymentBlock .topPayment label {
  color: #808080;
}

.background .paymentBlock .topPayment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.background .paymentBlock .bottomPayment {
  width: calc(100% - 40px);
  padding: 20px;
}

.background .paymentBlock .bottomPayment .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.background .paymentBlock .bottomPayment p, .background .paymentBlock .bottomPayment .stripeCardInput {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #BBBBBB;
}

.background .paymentBlock .bottomPayment p strong, .background .paymentBlock .bottomPayment .stripeCardInput strong {
  font-weight: 700;
}

.background .paymentBlock .bottomPayment input {
  width: 100%;
}

@media (max-width: 600px) {
  .background .paymentBlock .topPayment, .background .paymentBlock .bottomPayment {
    padding: 10px;
  }
}
/*# sourceMappingURL=App.css.map */